@import "tailwindcss";

/* @font-face {
  font-family: "poppins";
  src: url("../public/fonts/Poppins/Poppins-Bold.ttf") format(".ttf");
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: "grace";
  src: url("../public/fonts/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf")
    format(".ttf");
  font-weight: normal;
  font-style: normal;
} */

.font-grace {
  font-family: "Covered By Your Grace", cursive;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}
