@import "tailwindcss";

/* @font-face {
  font-family: "poppins";
  src: url("../public/fonts/Poppins/Poppins-Bold.ttf") format(".ttf");
} */

.font-grace {
  font-family: "Covered By Your Grace", cursive;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}
